RewriteEngine On
Options -MultiViews
Options -Indexes

RewriteBase /tasks-rev/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
#ErrorDocument 403 localhost/tasks-rev/

## Maintanance ##

# RewriteEngine On
# RewriteBase /tasks-rev/
# RewriteCond %{REMOTE_ADDR} !^37\.30\.20\.109
# RewriteCond %{REQUEST_URI} !^/maintenance\.html$
# RewriteRule ^(.*)$ http://domain.com/maintenance.html [R=307,L]