/* --- Color palette --- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F6F8FA;
  overflow-x: hidden;
  margin: 0;
  font-size: 14px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

button,
button:active,
button:focus {
  outline: none; }

/* --- Color palette --- */
.toast-stack {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 100%;
  min-width: 300px;
  padding: 30px; }

.toast {
  position: relative;
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  box-shadow: 5px 5px 15px rgba(125, 139, 153, 0.4);
  max-width: 350px;
  border-radius: 4px; }
  .toast:last-child {
    margin-bottom: 0; }
  .toast .toast-content {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: stretch;
    padding: 15px 0 15px 0; }
    .toast .toast-content .toast-type {
      flex: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: .75rem;
      font-size: 25px; }
    .toast .toast-content .toast-text {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: justify;
      padding-left: .75rem;
      padding-right: .75rem; }
    .toast .toast-content .toast-close {
      flex: none;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-right: .75rem;
      font-size: 20px; }
      .toast .toast-content .toast-close .toast-close-icon {
        cursor: pointer;
        transition: transform .1s ease-in-out; }
        .toast .toast-content .toast-close .toast-close-icon:hover {
          transform: scale(1.3); }
  .toast .toast-progress {
    flex: none;
    width: 100%;
    height: 5px; }

.toast[data-toast-type="info"] {
  background-color: #56c0e0; }
  .toast[data-toast-type="info"] .toast-content {
    background-color: #56c0e0; }
    .toast[data-toast-type="info"] .toast-content .toast-type {
      color: #1c7d9a; }
    .toast[data-toast-type="info"] .toast-content .toast-text {
      color: black; }
  .toast[data-toast-type="info"] .toast-progress {
    background-color: #24a0c5; }

.toast[data-toast-type="success"] {
  background-color: #52A76A; }
  .toast[data-toast-type="success"] .toast-content {
    background-color: #52A76A; }
    .toast[data-toast-type="success"] .toast-content .toast-type {
      color: #285134; }
    .toast[data-toast-type="success"] .toast-content .toast-text {
      color: black; }
  .toast[data-toast-type="success"] .toast-progress {
    background-color: #397449; }

.toast[data-toast-type="warning"] {
  background-color: #f7af3e; }
  .toast[data-toast-type="warning"] .toast-content {
    background-color: #f7af3e; }
    .toast[data-toast-type="warning"] .toast-content .toast-type {
      color: #ae6d07; }
    .toast[data-toast-type="warning"] .toast-content .toast-text {
      color: black; }
  .toast[data-toast-type="warning"] .toast-progress {
    background-color: #df8c09; }

.toast[data-toast-type="error"] {
  background-color: #db524b; }
  .toast[data-toast-type="error"] .toast-content {
    background-color: #db524b; }
    .toast[data-toast-type="error"] .toast-content .toast-type {
      color: #8b211c; }
    .toast[data-toast-type="error"] .toast-content .toast-text {
      color: black; }
  .toast[data-toast-type="error"] .toast-progress {
    background-color: #b52b24; }

.toast[data-toast-type="option"] {
  background-color: #eee; }
  .toast[data-toast-type="option"] .toast-content {
    background-color: #eee; }
    .toast[data-toast-type="option"] .toast-content .toast-type {
      color: #aeaeae; }
    .toast[data-toast-type="option"] .toast-content .toast-text {
      color: black; }
  .toast[data-toast-type="option"] .toast-progress {
    background-color: #c8c8c8; }

/* --- Color palette --- */
.form-control {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #E5E8EC;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 8px;
  transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
  background-color: #F6F8FA;
  color: #505257; }
  .form-control--error {
    border: 2px solid #b00020 !important; }
  .form-control::placeholder {
    color: #bdbdbd; }
  .form-control:focus {
    outline: none;
    border: 2px solid #A362EA;
    box-shadow: 0px 0px 5px rgba(163, 98, 234, 0.5); }
  .form-control--textarea {
    min-height: 80px;
    height: 0;
    max-height: 200px;
    text-align: justify;
    resize: vertical; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  height: 30px;
  background-color: #505257;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  cursor: pointer;
  border: none;
  font-weight: 500;
  padding: 0 10px 0 10px;
  user-select: none; }
  .btn:hover {
    color: #A362EA; }
  .btn--light {
    border: 2px solid #505257;
    background-color: inherit;
    color: #505257; }

/* --- Color palette --- */
.login__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.login__container {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 40px rgba(125, 139, 153, 0.2); }

.login__row {
  margin-top: 15px; }
  .login__row:first-of-type {
    margin-top: 0; }
  .login__row--submit {
    display: flex;
    justify-content: flex-end; }
    .login__row--submit > * {
      margin-right: 15px; }
      .login__row--submit > *:last-of-type {
        margin-right: 0; }
  .login__row .error {
    font-size: 12px;
    font-weight: 500;
    color: #b00020;
    padding-left: 10px; }

.main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 650px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 40px rgba(125, 139, 153, 0.2);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .main::-webkit-scrollbar {
    display: none; }
  .main__topnav {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between; }
  .main__data-group {
    padding: 30px 30px 30px 30px;
    border-bottom: 2px solid #E5E8EC; }
    .main__data-group:last-of-type {
      border-bottom: none; }
    .main__data-group .header {
      font-size: 20px;
      color: #505257;
      font-weight: 500; }
  .main__loading-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center; }
    .main__loading-overlay .loader {
      border: 4px solid transparent;
      border-top: 4px solid #A362EA;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin .8s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 650px;
  font-size: 45px;
  color: #D7D7D9;
  user-select: none;
  white-space: nowrap;
  overflow: hidden; }
  .banner .link:hover {
    color: #A362EA; }

.topnav__user {
  font-size: 20px;
  font-weight: 500;
  color: #505257; }

.topnav__buttons {
  display: flex; }

.topnav__buttons > * {
  margin-right: 15px; }
  .topnav__buttons > *:last-of-type {
    margin-right: 0; }

.cv-image {
  position: absolute;
  width: calc(33.33333% - 20px);
  height: 205px;
  background-color: inherit;
  border-radius: 4px;
  overflow: hidden; }
  .cv-image__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1; }
  .cv-image__select {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0 !important;
    cursor: pointer; }

.row {
  display: flex;
  margin-top: 15px; }
  .row > * {
    margin-right: 15px; }
    .row > *:last-of-type {
      margin-right: 0; }
  .row .col--1 {
    flex: 0 0 100%; }
  .row .col--2-3 {
    flex: 0 0 calc(66.66666% - 5px); }
  .row .col--1-3 {
    flex: 0 0 calc(33.33333% - 10px); }
  .row--1 > * {
    flex: 0 0 100%; }
  .row--2-3 > * {
    flex: 0 0 calc(66.66666% - 5px); }
  .row--1-3 > * {
    flex: 0 0 calc(33.33333% - 10px); }
  .row__delete-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 24px; }
  .row--right {
    justify-content: flex-end; }
  .row--history {
    align-items: flex-start; }
    .row--history .row {
      margin-top: 0;
      margin-bottom: 15px; }
    .row--history > * {
      margin-right: 0; }
