/* --- Color palette --- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F6F8FA;
  overflow-x: hidden;
  margin: 0;
  font-size: 14px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

button,
button:active,
button:focus {
  outline: none; }

/* --- Color palette --- */
.form-control {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #E5E8EC;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 8px;
  transition: .2s ease-in-out; }
  .form-control--error {
    border: 2px solid #b00020 !important; }
  .form-control--text:focus {
    outline: none;
    border: 2px solid #A362EA;
    box-shadow: 0px 0px 5px rgba(163, 98, 234, 0.5); }

.btn {
  min-width: 80px;
  height: 30px;
  background-color: #505257;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  cursor: pointer;
  border: none;
  font-weight: 500; }
  .btn--light {
    border: 2px solid #505257;
    background-color: inherit;
    color: #505257; }

/* --- Color palette --- */
.login__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.login__container {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 40px rgba(125, 139, 153, 0.2); }

.login__row {
  margin-top: 15px; }
  .login__row:first-of-type {
    margin-top: 0; }
  .login__row--submit {
    display: flex;
    justify-content: flex-end; }
    .login__row--submit > * {
      margin-right: 15px; }
      .login__row--submit > *:last-of-type {
        margin-right: 0; }
  .login__row .error {
    font-size: 12px;
    font-weight: 500;
    color: #b00020;
    padding-left: 10px; }
