@import "base/variables";
@import "base/breakpoints";
@import "base/mixins";

@import "components/modal";
@import "components/toast";
@import "components/forms";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $color-background;
    overflow-x: hidden;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button:active,
button:focus {
    outline: none;
}
