#sidenav {
    position: fixed;
    z-index: 1;
    top: $topnav-height;
    left: - $sidenav-width-expanded;
    bottom: 0;
    width: $sidenav-width-expanded;
    background-color: palette('darker');
    overflow-y: auto;
    overflow-x: hidden;
    transition: $sidenav-transition;

    .sidenav-toggled & {
        left: -$sidenav-width-hidden;
        width: $sidenav-width-hidden;
    }

    @include respond-to('md') {
        left: 0;
        @include removeScrollbar;
    }

    .group {
        position: relative;
        width: 100%;

        &__header {
            text-transform: uppercase;
            margin: $base-margin3 $base-margin3 $base-margin3 / 2 $base-margin3;
            padding-bottom: $base-margin3 / 2;
            font-weight: 500;
            color: palette('accent');
            font-size: 12px;
            border-bottom: 1px solid palette('dark');
            max-height: 50px;
            transition: $sidenav-transition;

            .sidenav-toggled & {
                max-height: 0;
                margin: 0;
                padding: 0;
                overflow: hidden;
                border-bottom: none;
                opacity: 0;
            }
        }

        &__item {
            height: $topnav-height;

            &--active {
                background-color: darken(palette('darker'), 5%);
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    border-left: 3px solid palette('accent');
                    color: palette('light') !important;
                }
            }

            a {
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                color: palette('light');
                font-size: $base-font-size1;
                overflow: hidden;
                white-space: nowrap;

                &:hover {
                    color: palette('lightest');
                }

                > * {
                    transition: opacity $sidenav-transition;
                }

                .sidenav-toggled & > * {
                    opacity: 0;
                }

                [class^="ic-"] {
                    min-width: $topnav-height;
                    font-size: $nav-icon-size;
                    opacity: 1 !important;
                }
            }
        }
    }

}