#topnav {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    height: $topnav-height;
    background-color: palette('dark');
    display: flex;
    justify-content: space-between;

    &__brand {
        width: $sidenav-width-expanded;
        height: 100%;
        display: flex;
        align-items: center;
        color: palette('light');
        font-size: 24px;

        #sidenav-toggle-btn {
            flex: none;
            background: none;
            border: none;
            width: $topnav-height;
            color: palette('light');
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: inherit;
        }

        #brand-name {
            flex: 100%;
            text-align: center;
            user-select: none;
        }
    }

    &__nav {
        display: flex;
        color: palette('light');
        font-size: $base-font-size1;
        margin-right: $topnav-height / 2;
        height: 100%;

        li:hover {
            color: palette('lightest');
        }

        li, li a {
            height: 100%;
            cursor: pointer;
        }

        li a {
            display: flex;
            align-items: center;
        }

        [class^="ic-"] {
            flex: none;
            font-size: $nav-icon-size;
            min-width: $topnav-height;
        }
    }
}