@import "base/variables";
@import "base/mixins";
@import "base/breakpoints";

$status: (
    'new': #FFC107,
    'in-progress': #62c0dd,
    'finished': #3ac75b,
    'cancelled': #ff485a
);

#task-app {
    $list-width: 38.2%; //38.2
    $details-width: 100% - $list-width;

    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    &__list {
        width: $list-width;
        display: flex;
        flex-direction: column;
        position: relative;

        width: 100%;

        @include respond-to('md') {
            min-width: 2 * $sidenav-width-expanded;
            width: $list-width;
        }

        .filters {
            flex: none;
            background-color: palette('lighter');
            padding: $base-margin2;
        }

        .container {
            overflow: auto;
            
            @include removeScrollbar;
            flex: 1;
            padding: 0;

            @include respond-to('md') {
                padding: 0 $base-margin2 $base-margin2 $base-margin2;
            }
        }

        //TODO potem mozna stworzyc z tego komponent

        .loading-overlay {
            position: absolute;
            background-color: palette('lighter');
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include flex;
            transition: opacity 250ms ease-in-out;

            .loader {
                border: 3px solid transparent; /* Light grey */
                border-top: 3px solid palette('accent'); /* Blue */
                border-radius: 50%;
                width: 40px;
                height: 40px;
                animation: spin .8s linear infinite;
                  
                @keyframes spin {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
                }
            }
        }
    }

    &__details {
        width: $details-width;
        background-color: palette('lightest');
        display: flex;
        align-items: stretch;
        min-width: 3 * $sidenav-width-expanded;

        display: none;

        @include respond-to('md') {
            display: flex;
        }

        .container {
            border-left: 1px solid palette('light');
            //border-right: 1px solid palette('light');
            padding: $base-margin2;
            width: 100%;
            min-width: 3 * $sidenav-width-expanded;
            //max-width: 75%;
            max-width: 100%;
            overflow: auto;
        }
    }
}

.timestamp {
    text-align: left;
    border-bottom: 1px solid palette('light');
    font-size: 12px;
    padding-bottom: $base-margin1;
    border-bottom: $base-margin2;
    color: #9C9DA3;
    user-select: none;
    margin-top: 25px;
}

.task-group {
    box-shadow: 0 0 8px rgba(52, 58, 64, 0.13);
}

.task-short {
    position: relative;
    z-index: 0;
    background-color: palette('lightest');
    //box-shadow: 0 0 8px rgba(52, 58, 64, 0.13);
    //margin-top: $base-margin2;
    //border-top: 1px solid palette('light');
    padding: $base-margin1;
    overflow: hidden;
    white-space: nowrap;
    color: palette('dark');
    cursor: pointer;
    //transition: border-width .2s ease-in-out;
    //transition: box-shadow .1s ease-in-out;

    &:after {
        position: absolute;
        left: $base-margin1;
        right: $base-margin1;
        top: 0;
        content: '';
        border-bottom: 1px solid palette('light');
    }

    &:first-of-type:after {
        display: none;
    }

    &--active + &:after{
        display: none;
    }

    //&:hover,
    &--active {
        //height: 100px;
        //border-width: 20px !important;
        box-shadow: 0 0 8px rgba(52, 58, 64, 0.8);
        z-index: 1;
        //background-color: inherit;
        //color: #fff;
        //border: 1px solid palette('accent') !important;
        cursor: default;

        &:after {
            display: none;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 500;

        .project-name {
            color: palette('accent');
        }
    }

    &__author {
        font-size: 12.5px;
        margin-top: $base-margin1;
    }

    &__date {
        position: absolute;
        background-color: inherit;
        top: 0;
        bottom: 0;
        right: 0;
        padding: $base-margin1;
        padding-left: $base-margin1;
        font-size: 12.5px;
        //font-family: 'Roboto Mono', monospace;
    }

    &__status {
        height: 20px;
        font-size: 12.5px;
        padding: 0 6px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: $base-margin1;
        user-select: none;
        width: 85px;
        text-align: center;
        line-height: 20px;;
    }

    $self: &;

    @each $name, $color in $status {
        &--#{$name} {
            border-left: 3px solid $color;

            #{$self}__status {
                //border: 1px solid $color;
                background-color: $color;
            }

            @if($name == 'finished' or $name == 'cancelled') {
                > * {
                    font-weight: 300; //inna czcionka ?
                    font-weight: normal;
                }

                // #{$self}__title {
                //     font-weight: 300;
                // }
            }
        }
    }
}

.divider {
    flex: none;
    width: 0 !important;
    background-color: palette('light');
    position: relative;

    &:after {
        $handle-width: 10px;

        content: '';
        cursor: col-resize;
        position: absolute;
        top: 0;
        right: - $handle-width / 2;
        bottom: 0;
        left: - $handle-width / 2;
        opacity: 0;
    }
}

.details {
    &__header {
        padding-bottom: $base-margin2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid palette('light');

        .task-buttons > * {
            float: left;
            margin-left: $base-margin2;
    
            &:first-of-type {
                margin-left: 0;
            }
        }
    
        .task-name {
            font-size: 16px;
            display: flex;
            
            .task-project-name {
                color: palette('accent');
                border-right: 1px solid palette('light');
                padding-right: $base-margin2 + 1px;
                font-weight: 500;
            }
    
            .task-id {
                padding-left: $base-margin2;
            }
        }
    
        .task-status {
            height: 28px;
            width: 100px;
            padding: $base-margin1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
    
            @each $name, $color in $status {
                &--#{$name} {
                    background-color: $color;
                }
            }
        }
    }

    &__content {
        margin-top: $base-margin2;

        .title-wrapper {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: baseline;
        }

        .task-title {
            flex: 1;
            font-size: 16px;
            font-weight: 500;
        }

        .task-date {
            font-size: 14px;
            flex: 0;
            margin-left: 50px;
            white-space: nowrap;
        }

        .group {
            margin-top: 20px;
            font-size: 14px;
            text-align: justify;
            color: #444;

            &__header {
                color: palette('accent');
                margin-bottom: $base-margin1;
                font-weight: 500;


            }
        }

        .attachments {
            width: 100%;
            //background-color: palette('lighter');
            border-collapse: collapse;
            border: 0;
            cursor: default;

            th, td {
                height: 28px;
                max-height: 28px;
                padding: 0 $base-margin1 0 $base-margin1;
            }

            tbody tr:hover {
                //box-shadow: 0 0 10px rgba(52, 58, 64, 0.4);
                background-color: #F6F6F6;
            }

            th {
                background-color:#ececec;
                //background-color: #F6F6F6;
                border-right: 1px solid palette('light');
                font-weight: 500;

                &:last-of-type {
                    border-right: none;
                }
            }

            td {
                font-family: 'Roboto Mono', monospace;
                font-size: 12.5px;
            }

            .link {
                &:hover {
                    color: palette('accent');
                }

                &--user {
                    color: #A1A1A1;
                }
            }

            &__size {
                text-align: right;
                width: 1%;
                white-space: nowrap;
            }
        }
    }
}